#formContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 10px;

    background-color: aqua;
    padding: 10px;
    
}

button:hover{
    background-color: rgb(13, 13, 226);
    scale: 1.05;
}