* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    background: #EEE;

}

header {
    background-color: #ccc;
    /* padding-left: 20px; /* DENTRO*/
    /* margin-bottom: 20px; */
    /*FORA*/
    padding: 20px 25 px;
    margin: 10px 0 0 0;
    /*TODO,R,B,L*/


}

a {
    color: #FFF;

}

.container {
    display: flex;

}


nav {
    background-color: #777;
    padding: 15px 0;

    ul {
        display: flex;
        list-style: none;
        justify-content: space-around;

        li {
            a {
                color: rgb(19, 34, 236);
                text-decoration: none;
                background: #fff;
                padding: 2px;
                transition: all ease-out 0.5s;

                &:hover {
                    color: #ffffff;
                    background: rgb(19, 34, 236);

                }


            }
        }


    }

}

/* nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
} */
main {
    background-color: #ccc;

    section {

        padding: 20px;

        h2,p{
          margin-bottom: 20px; 
        }

        p{line-height: 1.5;

        } 

        h3,h4{
            margin-bottom: 15px;
        }
       
         article{
            padding: 10px;
         }

        
        &#esporte {

            p {
                text-align: justify;
            }
        }

        &#economia{
            .container{
                flex-wrap: wrap;
            }
            article{
                width: 300px;
            }
        }

        }

        &#economia {}
    }

    footer {
        background-color: #777;
    }