

body {
  font-family: Arial, sans-serif;
  font-weight: bold;
  background-color: #0e5eae;
  text-align: center;
  padding: 30px;
}

h1 {
  color: #dcdc19;
}

label {
  font-weight: bold;
}

input {
  margin: 8px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #007bff;
  color: #dcdc19;
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #0c6ace;
  font-weight: bold;
}

#resultadoConsumo {
  margin-top: 20px;
  font-size: 18px;
  color: #dcdc19;
  font-weight: bold;
}
